{{#if addNewEntry}}
  <h1>New Entry</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        {{input value=title id="title"}}
      </div>

      <div class="form-group">
        <label for="author">Author</label>
        {{input value=author id="author"}}
      </div>

      <div class="form-group">
        <label for="body">Enter your buggy thoughts</label>
        {{input value=body id="body"}}
      </div>

      <div class="form-group">
        <label for="date">Number of Bedrooms</label>
        {{input value=date id="date" type=date}}
      </div>

      <button {{action 'saveEntry'}}>Save</button>
    </form>
  </div>
{{else}}
  <button {{action 'entryFormShow'}}>New Entry</button>
{{/if}}
